<!--ng-container *ngIf="switchRegister">
    <div class="modal-registro">
      <div class="modal-registro-content">
        <div class="modal-registro-header">
          <h4 class="modal-registro-title">
            {{title}}
          </h4>
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
            (click)="closeRegister()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
        <div class="modal-registro-container">
          
  
        </div>
      </div>
    </div>
  </ng-container-->