<div class="user-header">
  <img src="../../../../assets/Nombre-trashinformation.png" alt="Nombre trashinformation" width="400px" height="40px">
  <div class="perfil-button">
    <button mat-flat-button color="accent" routerLink="/dashboard-user/profile-user">Mi Perfil</button>
  </div>
  <img src="../../../../assets/Logo-trashinformation.png" alt="Logo trashinformation" width="120px" height="100px">
  

</div>
<mat-toolbar class="user-menu">
    <button mat-flat-button color="primary" routerLink="/dashboard-user">Inicio</button>
    <button mat-flat-button color="primary" routerLink="/dashboard-user/recommendations-user">Maneja tus desechos</button>
    <button mat-flat-button color="primary" routerLink="/dashboard-user/videos-user">Videos</button>
    <button mat-flat-button color="primary" routerLink="/dashboard-user/news-user">Noticias</button>
    <button mat-flat-button color="primary" routerLink="/dashboard-user/suggestions-user">Contáctanos</button>
  </mat-toolbar>
  <router-outlet></router-outlet>



