@use '@angular/material' as mat;

.user-menu {
 $special-primary: mat.define-palette(mat.$gray-palette, 900);
 $special-accent: mat.define-palette(mat.$brown-palette);
 $special-theme: mat.define-dark-theme((
   color: (primary: $special-primary, accent: $special-accent),
 ));

 @include mat.button-color($special-theme);
}

.user-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1rem 0;
}

.perfil-button{
    margin-right: -40rem;
}

.user-menu {
    background: #009387;
    justify-content: space-evenly;
    border-bottom: solid 1px;
    border-top: solid 1px;
    margin-bottom: 1rem;
}

button{
    border-radius: 20px;
    font-size: 16px;
}

