<div class="pantalla-sugerencias">
    <div class="fondo-sugerencias">
        <div class="mostrar-sugerencias">
            <div class="individual-sugerencias" *ngFor="let sugerencia of sugerencias">
                <div class="sugerencia-content">
                    <div class="image-user">
                        <img [src]="recuperarUrlImage(sugerencia.name, sugerencia.lastName)" alt={{sugerencia.name}} width="100px">
                    </div>
                    <div class="comment-suggest">
                        <div class="comment-header">
                            <p class="nombre-sugerencia">
                                {{sugerencia.name}} {{sugerencia.lastName}}     
                            </p>
                            <mat-icon>email</mat-icon>
                            <p class="correo-sugerencia">
                                
                                {{sugerencia.email}}
                            </p>
                            
                        </div>
                      
                        <p>
                            <b>Sección: {{sugerencia.section}}</b>  <br>
                            {{sugerencia.comment}}
                        </p>
                      
                    </div>
                    <div class="action-suggest">
                        <button mat-raised-button color="primary" (click)="deleteSuggestById(sugerencia.id)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="formulario-sugerencias">
            <form [formGroup]="formSuggest" (ngSubmit)="onSubmitAddSuggest()" class="formulario-sugerencias">
                <mat-form-field appearance="fill">
                    <mat-label>¿Su opinión es acerca de...?</mat-label>
                    <input type="text" matInput placeholder="Ingrese el nombre de la sección a mejorar" class="form-control" formControlName="section">
                    <mat-error *ngIf="section.invalid && (section.dirty || section.touched)">{{getErrorMessageSection()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Comentario</mat-label>
                    <textarea matInput matInput placeholder="Ingresa tu comentario" class="form-control"
                    formControlName="comment"></textarea>
                    <mat-error *ngIf="comment.invalid && (comment.dirty || comment.touched)">{{getErrorMessageComment()}}</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="section.invalid || comment.invalid">Enviar</button>
            </form>

        </div>

    </div>
</div>
