.header-tab{
    text-align: center;
    background-color: antiquewhite;
    margin: 0.5rem 10rem;

}

.individual-recomendacion{
    margin: 0 1rem;
    max-width: 50%;
    margin-bottom: 1rem;
}

.contenedor{
    margin: 1rem 0.9rem;
}

mat-grid-tile {
    background: lightblue;
  }