.header-tab {
    text-align: center;
    background-color: antiquewhite;
    margin: 0.5rem 10rem;

}

.individual-recomendacion {
    margin: 0 1rem;
    margin-bottom: 1rem;
}

.contenedor {
    margin: 1rem 0.9rem;
    text-align: center;
}

.centrado {
    text-align: justify;
    margin-top: 0.5rem;
}

.example-card{
    margin: 0 20px;
    height: 360px;
}