.header-tab{
    text-align: center;
    background-color: antiquewhite;
    margin: 0.5rem 10rem;

}

.individual-news{
    margin: 0 1rem;
    max-width: 600px;
    margin-bottom: 1rem;
}

.news-image{
    margin: 1rem;
}

mat-card-header{
    margin-bottom: 1rem;
}