<div class="pantalla-noticias">
    <div class="fondo-noticias">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Medio Ambiente" class="tab-content-news">
                <div class="header-tab">
                    <h2>
                        Aprende la forma CORRECTA de manejar y clasificar tus residuos
                    </h2>
                </div>
                <mat-grid-list cols="2" rowHeight="370px">
                    <mat-grid-tile *ngFor="let noticia of (noticias | newsfilter:'MedioAmbiente')">
                        <mat-card class="example-card">
                            <mat-card-title-group>
                                <mat-card-title>{{noticia.title}}</mat-card-title>
                                <mat-card-subtitle>{{noticia.category}}</mat-card-subtitle>
                                <img mat-card-lg-image [src]="noticia.noticiaPic" alt={{noticia.title}}>
                            </mat-card-title-group>
                            <mat-card-content>
                                <p>
                                    {{noticia.description}}
                                </p>
                                <div class="fuente">
                                    <p>
                                        Autor: <b>{{noticia.author}}</b>
                                        <br>
                                        Fuente:<a [href]="noticia.url" target="_blank">{{noticia.url}}</a>
                                    </p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
            <mat-tab label="Reciclaje">
                <div class="header-tab">
                    <h2>
                        Aprende la forma CORRECTA de manejar y clasificar tus residuos
                    </h2>
                </div>
                <mat-grid-list cols="2" rowHeight="370px">
                    <mat-grid-tile *ngFor="let noticia of (noticias | newsfilter:'Reciclaje')">
                        <mat-card class="example-card">
                            <mat-card-title-group>
                                <mat-card-title>{{noticia.title}}</mat-card-title>
                                <mat-card-subtitle>{{noticia.category}}</mat-card-subtitle>
                                <img mat-card-lg-image [src]="noticia.noticiaPic" alt={{noticia.title}}>
                            </mat-card-title-group>
                            <mat-card-content>
                                <p>
                                    {{noticia.description}}
                                </p>
                                <div class="fuente">
                                    <p>
                                        Autor: <b>{{noticia.author}}</b>
                                        <br>
                                        Fuente:<a [href]="noticia.url" target="_blank">{{noticia.url}}</a>
                                    </p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
            <mat-tab label="Residuos Orgánicos">
                <div class="header-tab">
                    <h2>
                        Aprende la forma CORRECTA de manejar y clasificar tus residuos
                    </h2>
                </div>
                <mat-grid-list cols="2" rowHeight="370px">
                    <mat-grid-tile *ngFor="let noticia of (noticias | newsfilter:'Orgánicos')">
                        <mat-card class="example-card">
                            <mat-card-title-group>
                                <mat-card-title>{{noticia.title}}</mat-card-title>
                                <mat-card-subtitle>{{noticia.category}}</mat-card-subtitle>
                                <img mat-card-lg-image [src]="noticia.noticiaPic" alt={{noticia.title}}>
                            </mat-card-title-group>
                            <mat-card-content>
                                <p>
                                    {{noticia.description}}
                                </p>
                                <div class="fuente">
                                    <p>
                                        Autor: <b>{{noticia.author}}</b>
                                        <br>
                                        Fuente:<a [href]="noticia.url" target="_blank">{{noticia.url}}</a>
                                    </p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
            <mat-tab label="Desechos Covid-19">
                <div class="header-tab">
                    <h2>
                        Aprende la forma CORRECTA de manejar y clasificar tus residuos
                    </h2>
                </div>
                <mat-grid-list cols="2" rowHeight="370px">
                    <mat-grid-tile *ngFor="let noticia of (noticias | newsfilter:'Covid19')">
                        <mat-card class="example-card">
                            <mat-card-title-group>
                                <mat-card-title>{{noticia.title}}</mat-card-title>
                                <mat-card-subtitle>{{noticia.category}}</mat-card-subtitle>
                                <img mat-card-lg-image [src]="noticia.noticiaPic" alt={{noticia.title}}>
                            </mat-card-title-group>
                            <mat-card-content>
                                <p>
                                    {{noticia.description}}
                                </p>
                                <div class="fuente">
                                    <p>
                                        Autor: <b>{{noticia.author}}</b>
                                        <br>
                                        Fuente:<a [href]="noticia.url" target="_blank">{{noticia.url}}</a>
                                    </p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>