.fondo-videos {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}

.video-card {
    max-width: 600px;
    margin-bottom: 1rem;
}

.formulario-videos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-news {
    align-items: center;
}

.video-content {
    display: flex;
}

.video-text{
    margin-right: 1rem;
}

.video-image{
    padding: 1rem;
}

mat-card-content{
    margin: 0 16px;
}